<header class="shadow-sm">
  <div class="page-layout mb-6">
    <div class="flex justify-between">
      <div class="flex gap-9 text-gray-dark font-medium">
        <div class="flex items-center gap-2 cursor-pointer" (click)="onLogoClick()">
          <img class="w-10 h-10" src="favicon.ico" />
          <span>Logo</span>
        </div>
    
        <div class="flex items-center gap-5">
          @for (headerItem of _headerItems; track headerItem.id) {
            <a
              [routerLink]="['/' + headerItem.url]"
              class="nav-link p-4 h-full transition-colors duration-300 ease-in-out hover:text-blue-primary hover:drop-shadow-lg"
              [routerLinkActive]="'active'"
            >
              {{ headerItem.routeName }}
            </a>
          }
        </div>
      </div>
    
      <button title="logout" (click)="_authService.logoutUser()">
        <mat-icon
          class="text-blue-primary"
          aria-hidden="false"
          aria-label="logout"
          fontIcon="person"
        />
      </button>
    </div>
  </div>
</header>
